.header {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    position: relative;
    height: 80px;
    padding: 10px;
}

.logo img {
    height: 100%;
    opacity: 0.27;
}

h1>span {
    color: aqua;
}